{% extends 'base.html.twig' %}

{% block title %}Ajouter une entreprise{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>

<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <div class="container">

            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <h1><a href="/" id="logo">Capucins</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="{{ path('entreprise') }}">Entreprises partenaires</a></li>
                            <li class="current_page_item"><a href="{{ path('stageAddEntreprise') }}">J'ai trouvé un stage</a></li>
                            <li><a href="{{ path('stage') }}">Affectations</a></li>
                        </ul>
                    </nav>

                </div>
            </header>
        </div>
    </div>
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style1">
            <div class="inner">

                <!-- Feature 1 -->
                <section class="container box feature1">
                    <h3>Ajouter une entreprise:</h3>
                    {% if form is defined %}
                        <div class="row">
                            <div class="12u">
                                <div style="width: 50%; margin: auto;">

                                {{ form_start(form) }}
                                {{ form_errors(form) }}

                                {{ form_row(form.nom) }}
                                {{ form_row(form.ville) }}
                                {{ form_row(form.codepostal) }}
                                {{ form_row(form.adresse) }}
                                {{ form_row(form.mail) }}
                                {{ form_row(form.tel) }}
                                {{ form_row(form.activite) }}
                                <br>
                                {{ form_row(form.Valider) }}
                                {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
