{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    th {
        font-weight: bold;
    }
</style>

<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <div class="container">

            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <h1><a href="{{ path('index') }}" id="logo">Capucins</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="current_page_item"><a href="{{ path('entreprise') }}">Entreprises partenaires</a></li>
                            <li><a href="{{ path('stageAddEntreprise') }}">J'ai trouvé un stage</a></li>
                            <li><a href="{{ path('stage') }}">Affectations</a></li>
                        </ul>
                    </nav>

                </div>
            </header>



        </div>
    </div>
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style1">
            <div class="inner">

                <!-- Feature 1 -->
                <section class="container box feature1">
                    <h2>Liste des entreprises:</h2>

                    {% if entreprises is defined %}
                        <table>
                            <tr>
                                <th>Nom</th>
                                <th>Ville</th>
                                <th>Code postal</th>
                                <th>Adresse</th>
                                {#<th>Mail</th>#}
                                <th>Téléphone</th>
                                <th>Activité</th>
                                <th>Géolocalisation</th>
                            </tr>
                            {% for entreprise in entreprises %}
                                <tr>
                                    <td>{{ entreprise.nom }}</td>
                                    <td>{{ entreprise.ville }}</td>
                                    <td>{{ entreprise.codepostal }}</td>
                                    <td>{{ entreprise.adresse }}</td>
                                    {#<td>{{ entreprise.mail }}</td>#}
                                    <td>{{ entreprise.tel }}</td>
                                    <td>{{ entreprise.activite }}</td>
                                    <td> <a href="entreprise/localisation/{{ entreprise.id }}" class="bouton"> <b>Cliquer ici</b></a></td>                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </section>

            </div>
        </div>
        {% endblock %}
