{% extends 'base.html.twig' %}

{% block title %}Localisation{% endblock %}


{% block body %}
    <div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <div class="container">

            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <h1><a href="/" id="logo">Capucins</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="{{ path('entreprise') }}">Entreprises partenaires</a></li>
                            <li><a href="{{ path('stageAddEntreprise') }}">J'ai trouvé un stage</a></li>
                            <li><a href="{{ path('stage') }}">Affectations</a></li>
                        </ul>
                    </nav>

                </div>
            </header>
        </div>
    </div>
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style1">
            <div class="inner">
                <section class="container box feature1">
                    <div class="row">
                        <div class="12u">
                            <header >
                                <h2>Voici la localisation de {{ entreprise.nom }}</h2>
                                <br><p>{{ entreprise.nom }}, {{ entreprise.adresse }}, {{ entreprise.codepostal }} {{ entreprise.ville }}</p>
                            </header>
                        </div>
                    </div>

                    <div class="inner">
                        <div>
                            <iframe
                                    width="600"
                                    height="450"
                                    frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyA_BC0hE4WYMU7G-4lv0-6rmK-mv-xivco&origin=College+Les+Capucins,+Route+de+Voisenon,+77000+Melun&destination={{ entreprise.adresse }}+{{ entreprise.ville }}&avoid=tolls|highways" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}