<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>

        {% block stylesheets %}
            <!--[if lte IE 8]><script src="{{ asset('assets/js/ie/html5shiv.js') }}"></script><![endif]-->
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
            <!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('assets/css/ie9.css') }}" /><![endif]-->
            <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('assets/css/ie8.css') }}" /><![endif]-->
        {% endblock %}

        <!-- Scripts -->
        {% block javascripts %}
            <script src="{{ asset('assets/js/skel.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.dropotron.min.js')}}"></script>
            <script src="{{ asset('assets/js/skel-viewport.min.js')}}"></script>
            <script src="{{ asset('assets/js/jquery.scrollex.min.js') }}"></script>
            <script src="{{ asset('assets/js/util.js') }}"></script>
            <!--[if lte IE 8]><script src="{{ asset('assets/js/ie/respond.min.js') }}"></script><![endif]-->
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </head>

    <body class="homepage">
        {% block body %}

            <div id="page-wrapper">

                <!-- Header -->
                <div id="header-wrapper">
                    <div class="container">

                        <!-- Header -->
                        <header id="header">
                            <div class="inner">

                                <!-- Logo -->
                                <h1><a href="{{ path('index') }}" id="logo">Capucins</a></h1>

                                <!-- Nav -->
                                <nav id="nav">
                                    <ul>
                                        <li class="current_page_item"><a href="/">Home</a>
                                        <li><a href="{{ path('entreprise') }}">Entreprises partenaires</a></li>
                                        <li><a href="{{ path('stageAddEntreprise') }}">J'ai trouvé un stage</a></li>
                                        <li><a href="{{ path('stage') }}">Affectations</a></li>
                                    </ul>
                                </nav>

                            </div>
                        </header>

                        <!-- Banner -->
                        <div id="banner">
                            <h2><strong>Dispositif d'aide à la recherche</strong> <br>Stage de  découverte des 3ème<br />
                            </h2>
                         {#   <p>Does this statement make you want to click the big shiny button?</p>
                            <a href="#" class="button big icon fa-check-circle">Yes it does</a>#}
                        </div>

                    </div>
                </div>
                <!-- Main Wrapper -->
                <div id="main-wrapper">
                    <div class="wrapper style1">
                        <div class="inner">

                            <!-- Feature 1 -->
                            <section class="container box feature1">
                                <div class="row">
                                    <div class="12u">
                                        <header class="first major">
                                            <h2>Bonjour et bienvenue sur l'application web réalisée pour vous aider à trouver un stage</h2>
                                            <br><p>Vous avez des difficultés à trouver un stage? Ce site annexe est là pour vous.</p>
                                        </header>
                                    </div>
                                </div>
                                {#<div class="row">#}
                                    {#<div class="4u 12u(mobile)">#}
                                        {#<section>#}
                                            {#<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>#}
                                            {#<header class="second icon fa-user">#}
                                                {#<h3>Here's a Heading</h3>#}
                                                {#<p>And a subtitle</p>#}
                                            {#</header>#}
                                        {#</section>#}
                                    {#</div>#}
                                    {#<div class="4u 12u(mobile)">#}
                                        {#<section>#}
                                            {#<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>#}
                                            {#<header class="second icon fa-cog">#}
                                                {#<h3>Also a Heading</h3>#}
                                                {#<p>And another subtitle</p>#}
                                            {#</header>#}
                                        {#</section>#}
                                    {#</div>#}
                                    {#<div class="4u 12u(mobile)">#}
                                        {#<section>#}
                                            {#<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>#}
                                            {#<header class="second icon fa-bar-chart-o">#}
                                                {#<h3>Another Heading</h3>#}
                                                {#<p>And yes, a subtitle</p>#}
                                            {#</header>#}
                                        {#</section>#}
                                    {#</div>#}
                                {#</div>#}
                                <div class="row" style="text-align: left">
                                        <p style="padding-top: 20px; padding-bottom: 0;">Sont à votre disposition sur le site: </p>
                                        <ul style="padding-left:40px; list-style-type: circle">
                                            <li>
                                                une liste contenant des informations sur diverses entreprises ainsi que leur localisation pour vous repérer
                                            </li>
                                            <li>
                                                des documents sous format PDF téléchargeables et imprimables:
                                                <ul style="list-style-type: square; margin-bottom: 0">
                                                    <li> attestation de stage</li>
                                                    <li> exemple de lettres de motivation et CV</li>
                                                </ul>
                                            </li>
                                            <li>
                                                un formulaire à remplir afin de faire savoir à vos enseignants le fait que vous avez un stage
                                            </li>
                                        </ul>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    </body>
</html>
