{% extends 'base.html.twig' %}

{% block title %}J'ai trouvé un stage{% endblock %}

{% block body %}
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div class="container">

                <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Logo -->
                        <h1><a href="{{ path('index') }}" id="logo">Capucins</a></h1>

                        <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="{{ path('entreprise') }}">Entreprises partenaires</a></li>
                                <li class="current_page_item"><a href="{{ path('stageAddEntreprise') }}">J'ai trouvé un stage</a></li>
                                <li><a href="{{ path('stage') }}">Affectations</a></li>
                            </ul>
                        </nav>

                    </div>
                </header>
            </div>
        </div>
        <!-- Main Wrapper -->
        <div id="main-wrapper">
            <div class="wrapper style1">
                <div class="inner">

                    <!-- Feature 1 -->
                    <section class="container box feature1">
                        <h3>Veuillez choisir votre entreprise d'accueil:</h3>
                        <select onChange="location.href='/stage/add/'+this.options[this.selectedIndex].value">
                            <option disabled selected value> -- choisissez votre entreprise -- </option>
                            {% for entreprise in entreprises %}
                            <option value="{{ entreprise.id }}">{{ entreprise.nom }} ({{ entreprise.ville }})</option>
                            {% endfor %}
                        </select><br><br>
                        <i><h1>Vous ne trouvez pas votre entreprise ? <u><a href="{{ path('addEntreprise') }}" > Cliquez ici.</a></u> </h1></i>

                        {#
                        {% for entreprise in entreprises %}
                            <a href="/stage/add/{{ entreprise.id }}">{{ entreprise.nom }}</a><br>
                        {% endfor %}
                        #}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
