{% extends 'base.html.twig' %}

{% block title %}Liste des affectations{% endblock %}

{% block body %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    th {
        font-weight: bold;
    }
</style>

<div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
        <div class="container">

            <!-- Header -->
            <header id="header">
                <div class="inner">

                    <!-- Logo -->
                    <h1><a href="{{ path('index') }}" id="logo">Capucins</a></h1>

                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="{{ path('entreprise') }}">Entreprises partenaires</a></li>
                            <li><a href="{{ path('stageAddEntreprise') }}">J'ai trouvé un stage</a></li>
                            <li class="current_page_item"><a href="{{ path('stage') }}">Affectations</a></li>
                        </ul>
                    </nav>

                </div>
            </header>

        </div>
    </div>
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style1">
            <div class="inner">

                <!-- Feature 1 -->
                <section class="container box feature1">
                    <h3>Liste des affectations:</h3>

                    {% if stages is defined %}
                        <table>
                            <tr>
                                <th>Eleve</th>
                                <th>Professeur</th>
                                <th>Entreprise</th>
                                <th>Tuteur</th>
                                <th>Téléphone</th>
                                <th>Date</th>
                            </tr>
                            {% for stage in stages %}
                                <tr>
                                    <td>{{ stage.eleve.nom }}</td>
                                    <td>{{ stage.professeur.nom }}</td>
                                    <td>{{ stage.tuteur.entreprise.nom }}</td>
                                    <td>{{ stage.tuteur.nom }}</td>
                                    <td>{{ stage.tuteur.tel }}</td>
                                    <td>{{ stage.date|date("d/m/Y") }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </section>

            </div>
        </div>
        {% endblock %}
